* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(yellow, springgreen, lightblue);
    min-height: 100vh;
}

.audio {
    position: absolute;
    opacity: 0.2;
    height: 40px;
    width: 300px;
}

.maintable {
    padding: 7px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.tital {
    font-size: 4em;
    color: dodgerblue;
    font-family: verdana;
}

.number,
.name,
.year,
.available,
.firstcolumn,
.seccolumn,
.thirdcolumn,
.forthcolumn {
    opacity: 1;
    font-family: verdana;
}

.number,
.year,
.available,
.firstcolumn,
.seccolumn,
.thirdcolumn,
.forthcolumn {
    text-align: center;
}

/*.name is not here in this tag*/

/* 
.number {
    color: ;
}
 */
.movielink {
    text-decoration: none;
}

.check {
    position: absolute;
    height: 30px;
    width: 70px;
    appearance: none;
    outline: none;
    background: #000;
    top: 110px;
    left: 20px;
    border-radius: 15px;
    transition: 0.5s;
}

.check:checked {
    background: #fff;
}

.check:after {
    content: '';
    width: 25px;
    height: 25px;
    background: #fff;
    position: absolute;
    border-radius: 12.5px;
    top: 2px;
    left: 2px;
    transition: 0.5s;
}

.check:checked:after {
    left: 42px;
    background: black;
}

.check:before {
    position: absolute;
    content: '';
    width: 70px;
    height: 30px;
    border-radius: 15px;
    z-index: -1;
    transition: 0.5s;
    box-shadow: 0 0 10px 0vh #000;
}

.check:checked:before {
    box-shadow: 0 0 10px 1000vh #000;
}

.dark {
    color: orange;
    position: absolute;
    height: 30px;
    width: 200px;
    top: 120px;
    left: 100px;
}

a {
    color: blue;
}

td {
    color: red;
}